[user]
        email = user@domain.tld
        name = Firstname Lastname
[alias]
        wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[init]
	defaultBranch = main
